--
-- PostgreSQL database dump
--

\restrict EKfj8vl0BLdCGIqRrNRAYKaOtpOgfjptGwanmraUDdLwvhgWO93D6pRcCZgIMdp

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: oryzlkbsa_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO oryzlkbsa_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: oryzlkbsa_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ContentStatus; Type: TYPE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TYPE public."ContentStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'ARCHIVED'
);


ALTER TYPE public."ContentStatus" OWNER TO oryzlkbsa_user;

--
-- Name: MessageStatus; Type: TYPE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TYPE public."MessageStatus" AS ENUM (
    'UNREAD',
    'READ',
    'ARCHIVED'
);


ALTER TYPE public."MessageStatus" OWNER TO oryzlkbsa_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TYPE public."Role" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO oryzlkbsa_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL
);


ALTER TABLE public."Category" OWNER TO oryzlkbsa_user;

--
-- Name: ContactMessage; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."ContactMessage" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    topic text NOT NULL,
    message text NOT NULL,
    status public."MessageStatus" DEFAULT 'UNREAD'::public."MessageStatus" NOT NULL,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ContactMessage" OWNER TO oryzlkbsa_user;

--
-- Name: Gallery; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."Gallery" (
    id text NOT NULL,
    title text NOT NULL,
    image text NOT NULL,
    "categoryId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "eventDate" timestamp(3) without time zone
);


ALTER TABLE public."Gallery" OWNER TO oryzlkbsa_user;

--
-- Name: HeroSlider; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."HeroSlider" (
    id text NOT NULL,
    title text NOT NULL,
    subtitle text,
    image text NOT NULL,
    link text,
    "isActive" boolean DEFAULT true NOT NULL,
    "order" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."HeroSlider" OWNER TO oryzlkbsa_user;

--
-- Name: Log; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."Log" (
    id text NOT NULL,
    "userId" text,
    action text NOT NULL,
    module text NOT NULL,
    "entityId" text,
    details jsonb,
    "userAgent" text,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Log" OWNER TO oryzlkbsa_user;

--
-- Name: PageView; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."PageView" (
    id text NOT NULL,
    "postId" text NOT NULL,
    "ipAddress" text NOT NULL,
    "userAgent" text,
    referer text,
    "viewedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PageView" OWNER TO oryzlkbsa_user;

--
-- Name: Post; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."Post" (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    content text NOT NULL,
    thumbnail text,
    "metaTitle" character varying(70),
    "metaDescription" character varying(160),
    tags text,
    status public."ContentStatus" DEFAULT 'DRAFT'::public."ContentStatus" NOT NULL,
    views integer DEFAULT 0 NOT NULL,
    "categoryId" text NOT NULL,
    "authorId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Post" OWNER TO oryzlkbsa_user;

--
-- Name: Setting; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."Setting" (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL
);


ALTER TABLE public."Setting" OWNER TO oryzlkbsa_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" DEFAULT 'ADMIN'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO oryzlkbsa_user;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: oryzlkbsa_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO oryzlkbsa_user;

--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--

COPY public."Category" (id, name, slug) FROM stdin;
0369c186-1cbb-44f2-9f5e-ea8bc974bde9	Liputan	liputan
b2e7c8b2-6a43-4aa2-b086-a8c0da45134f	Kolaborasi	kolaborasi
8ef417c0-99a3-408b-a20f-d881f379dc2f	Music	music
1e9e40b4-8906-466a-94db-967d85310303	Teather	teather
\.


--
-- Data for Name: ContactMessage; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--

COPY public."ContactMessage" (id, name, email, topic, message, status, "ipAddress", "createdAt") FROM stdin;
24408ac9-988f-4807-b406-5a25fcff647e	Violetha	denitri0609@gmail.com	Tiket	Halo oryza,Saya ingin kolaborasi 	READ	::1	2026-03-02 14:41:36.325
cf625d76-3dd9-4e89-bc08-fd6c3e874e34	Deni Trio Saputra	denitri0609@gmail.com	Pementasan	Sadakjdnajdndjandnadadnalndanl	READ	::1	2026-03-03 12:04:05.851
a335b26c-7477-4f26-a5ee-a9c7651ed130	Deni Trio Saputra	denitri0609@gmail.com	Kolaborasi	Halo oryzalokabasa sedang apa\n	READ	::1	2026-03-02 17:47:46.404
\.


--
-- Data for Name: Gallery; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--



--
-- Data for Name: HeroSlider; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--



--
-- Data for Name: Log; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--



--
-- Data for Name: PageView; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--



--
-- Data for Name: Post; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--



--
-- Data for Name: Setting; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--

COPY public."Setting" (id, key, value) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: oryzlkbsa_user
--



--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: ContactMessage ContactMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."ContactMessage"
    ADD CONSTRAINT "ContactMessage_pkey" PRIMARY KEY (id);


--
-- Name: Gallery Gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Gallery"
    ADD CONSTRAINT "Gallery_pkey" PRIMARY KEY (id);


--
-- Name: HeroSlider HeroSlider_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."HeroSlider"
    ADD CONSTRAINT "HeroSlider_pkey" PRIMARY KEY (id);


--
-- Name: Log Log_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Log"
    ADD CONSTRAINT "Log_pkey" PRIMARY KEY (id);


--
-- Name: PageView PageView_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."PageView"
    ADD CONSTRAINT "PageView_pkey" PRIMARY KEY (id);


--
-- Name: Post Post_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_pkey" PRIMARY KEY (id);


--
-- Name: Setting Setting_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Setting"
    ADD CONSTRAINT "Setting_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Category_name_key; Type: INDEX; Schema: public; Owner: oryzlkbsa_user
--

CREATE UNIQUE INDEX "Category_name_key" ON public."Category" USING btree (name);


--
-- Name: Category_slug_key; Type: INDEX; Schema: public; Owner: oryzlkbsa_user
--

CREATE UNIQUE INDEX "Category_slug_key" ON public."Category" USING btree (slug);


--
-- Name: PageView_postId_idx; Type: INDEX; Schema: public; Owner: oryzlkbsa_user
--

CREATE INDEX "PageView_postId_idx" ON public."PageView" USING btree ("postId");


--
-- Name: PageView_viewedAt_idx; Type: INDEX; Schema: public; Owner: oryzlkbsa_user
--

CREATE INDEX "PageView_viewedAt_idx" ON public."PageView" USING btree ("viewedAt");


--
-- Name: Post_slug_key; Type: INDEX; Schema: public; Owner: oryzlkbsa_user
--

CREATE UNIQUE INDEX "Post_slug_key" ON public."Post" USING btree (slug);


--
-- Name: Setting_key_key; Type: INDEX; Schema: public; Owner: oryzlkbsa_user
--

CREATE UNIQUE INDEX "Setting_key_key" ON public."Setting" USING btree (key);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: oryzlkbsa_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Gallery Gallery_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Gallery"
    ADD CONSTRAINT "Gallery_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Log Log_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Log"
    ADD CONSTRAINT "Log_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PageView PageView_postId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."PageView"
    ADD CONSTRAINT "PageView_postId_fkey" FOREIGN KEY ("postId") REFERENCES public."Post"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Post Post_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Post Post_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oryzlkbsa_user
--

ALTER TABLE ONLY public."Post"
    ADD CONSTRAINT "Post_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: oryzlkbsa_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict EKfj8vl0BLdCGIqRrNRAYKaOtpOgfjptGwanmraUDdLwvhgWO93D6pRcCZgIMdp

